{% extends 'index.html' %}
{% block content %}
    <h1>registerpage</h1>


    <form method="POST" action="">
        <fieldset>
            {{form.hidden_tag()}}
            {{form.username.label}}
            {{form.username}}
            {{form.email.label}}
            {{form.email}}
            {% if form.email.errors%}
                {{form.email}}
                {%for error in form.email.errors %}
                    <h3>{{error}}</h3>
                {%endfor%}
            {% endif %}
            {{form.password.label}}
            {{form.password}}
            {{form.confirm_password.label}}
            {{form.confirm_password}}
            {{form.submit}}
        </fieldset>

    </form>
{% endblock content %}
